<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:name=".utils.MyApplication"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.CR12306"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.tickets.LeftTicketActivity"/>
        <activity android:name=".activities.tickets.TicketDetailActivity"/>
        <activity android:name=".activities.query.TrainEquipmentActivity"/>
        <activity android:name=".activities.more.SettingsActivity"/>
        <activity android:name=".activities.more.LoginActivity"/>
        <activity android:name=".activities.query.TrainQueryActivity"/>
        <activity android:name=".activities.more.NewsActivity"/>
        <activity android:name=".activities.crlines.LinesActivity"/>
        <activity android:name=".activities.tickets.ConfirmOrderActivity"/>
        <activity android:name=".activities.tickets.ChooseStationActivity"/>
        <activity android:name=".activities.query.TransActivity"/>
        <activity android:name=".activities.query.TransDetailActivity"/>
    </application>


</manifest>